* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator-heading {
  padding-top: 30px;
}

.calculator-wrapper {
  width: 300px;
  background-color: #1d1616;
}

.calculator-btns {
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px;
  gap: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.button {
  cursor: pointer;
  border: none;
}

#calculator-input {
  width: 250px;
  padding: 10px;
  font-size: 22px;
  margin: 30px 10px 30px 25px;
}

input {
  text-align: right;
}

.btn-danger {
  background-color: #d84040;
  color: white;
}

.btn-secondary {
  background-color: #636363;
  color: white;
}
