* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator-heading {
  text-align: center;
  padding-top: 30px;
}

.calculator-btns {
  width: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px;
  gap: 10px;
  padding-top: 10px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.btn {
  border-radius: 50%;
}

#calculator-input {
  width: 550px;
  padding: 20px;
  margin-left: 50px;
  margin-top: 30px;
}

.calculator-wrapper {
  width: 650px;
  background-color: #1d1616;
  margin-left: 400px;
  margin-top: 50px;
}

.btn-danger {
  background-color: #d84040;
  color: white;
}

.btn-secondary {
  background-color: #636363;
  color: white;
}
